ul{
    list-style-type: none;
    margin: 20;
    padding: 1;
    overflow: hidden;
    background-color: cornsilk;
    }
li {
    float: left; 
} 
<!--Hiermee zorg ik ervoor dat da de Lijst aan linkjes naar links gaat en hieronder maag ik de kleur van deze linkjes en wat ermee gebeurt als je je muis erover hovert--> 
li a {
    display: block;
    color: burlywood;
    text-align: left;
    padding: 18px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: 26px;
}
li a:hover {
    color: rgb(29, 32, 32);
    font-size: 30px;
}
