ul{
    list-style-type: none;
    margin: 20;
    padding: 1;
    overflow: hidden;
    background-color: cornsilk;
    }
li {
    float: left; 
} 
 
li a {
    display: block; /* Dit zorgt ervoor dat het een blok word */
    color: burlywood; /* dit zorgt voor de kleur */
    text-align: left;  /* Hierdoor gaat de tekst naar links */
    padding: 18px 20px;  /* dit geeft de grote aan */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
    font-size: 26px; 
}
li a:hover {
    color: rgb(29, 32, 32);
    font-size: 30px;
}

